<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" target="_blank">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  href="/admin/page">Pages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/admin/category">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/admin/product">Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{#each errors}}
  <div class="alert alert-danger">
    {{this.msg}}
  </div>
  {{/each}}
</div>